MONGODB_URI=mongodb+srv://USERNAME:PASSWORD%40SUFFIX@cluster.mongodb.net/aretesapiens?appName=AreteSapiens
FLASK_SECRET_KEY=change-this-to-a-random-string
PORT=8080
ALPACA_API_KEY=your_alpaca_api_key_here
ALPACA_SECRET_KEY=your_alpaca_secret_key_here
FINNHUB_API_KEY=your_finnhub_api_key_here
GROQ_API_KEY=your_groq_api_key_here
CLAIM_GUARDIAN_URL=http://localhost:3000
